//main: index.scss

.content{
  background: $color4;
  text-align: center;
  h2{
  }
  blockquote{
    padding: 1.5rem;
  }
}

.proposition{
  background: $color2;
padding: 5rem;
margin-bottom: 345px;
&__cards{
  @include flex(space-around, center, row);
}
&__card p{
  background:$color4;
  padding: 1rem 1.5rem 3.5rem 1.5rem;
  text-align: left;
  position: relative;
  &::after{
    position:absolute;
    top:4rem;
    left:1.5rem;
    content:'See More';
    font-size:0.8rem;
  }

}
}

.grid-container{
  text-align: center;
  grid-gap:30px;
  grid-template-areas:
   'grid1 grid2 grid3'
   'grid1 grid2 grid4';

  background: $color2;
  display: grid;
  padding: 80px 5rem;;
  .grid1{
    grid-area: grid1;
    background:$color3;
    color:$color4;
    width: 340px;
    height: 600px;
    font-size: 3.5rem;
  }
  .grid2{
    grid-area: grid2;
    background: $color1;
    color:$color4;
    width: 340px;
    height: 600px;
    img{
      border: 2px solid black;
    }
  }
  .grid3, .grid4{
    width:340px;
    height:285px;
    background: $color4;
  }

}

.grid>*{
  @include flex(center,center,row);
}
