//main: index.scss
main{
  background-color: $color2;
}

h1{
  font-size: 4rem;
  font-weight: 500;
  padding-bottom: 4rem;
  text-align: center;
}

.hero{
  text-align: center;
  margin: 0 auto;
  min-height: calc(100vh - 4rem);
  background-image: url("https://picsum.photos/id/1045/2000/1000");
h1{
    padding-top: 11.6rem;
}

  p{
    width: 440px;
    margin: 0 auto;
  }
}

.hero__button{
  margin-top: 2rem;
  border-radius: 5px;
  background: $color3;
  color: $color4;
  font-weight: 500;
  font-size: 1.125rem;
  padding: 1em 2em;
}

.ourContent{
  text-align: center;
  &__title{
    font-size: 1.5rem;
    padding: 1.5rem;
  }
  &__text{
    width:800px;
    margin: 0 auto;
  }
  &__imgs{
    @include flex(space-around, center, row);
    padding: 88px;
  }
  &__img{
    max-width: 300px;
    text-align: left;

    p{
    position: relative;
    }
    p::after{
      content:'Learn More';
      position: absolute;
      top:3rem;
      left:0;
      font-size: 0.8rem;
    }
  }

}

footer{
  opacity:0.3;
  ul a li{color:black;
}
.footer__end{
  border-top: 1px solid black;
  width: 1000px;
  text-align: center;
  margin: 0 auto;
}
.circle{
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 3.5rem 2rem;
}
p{
  font-size: 0.8rem;
  padding:2rem;
}
}
