//main: index.scss

navbar, .footer__top{
  min-height: 4rem;
  position: relative;
  @include flex(space-between, center, row);

  .logo {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 2.5rem;
  }

  ul {
    position: absolute;
    @include flex(space-around, center, row);
    list-style: none;
    width: 26rem;
    left: 50%;
    transform: translateX(-50%);

    li {
      color: $color1;
      font-size: 1.125rem;
    }

    li:hover {
      transition: 250ms linear;
      color: black;
    }

    li.active {
      color: black;
    }
  }
}
