//main: index.scss

main.register{
  background-image: url("https://picsum.photos/id/1055/2000/1500");
}

form{
  width: 80%;
  margin: auto;
  @include flex(space-around, center, column);
  min-height: 150vh;
}

.form__line{
    @include flex(space-between, center, row);
    width:100%;
}

input{
  padding-left: 10rem;
}

.terms{
  padding:1rem;
  max-width: 630px;
  background: rgba(250,250,250, 0.3);
  .terms__titel{
    text-align: center;
  }
  ul{
    padding:0 1em;
    list-style-position: inside;
  }
  .list__3rd{
    list-style-type: lower-latin;
  }
}
